html,body{

	background:url(../img/bg.jpg) repeat-x !important;
	/*min-width:320px;
	max-width:640px;*/

}
@font-face {
    font-family: Hlvl;
    src: url('HelveticaNeue-Light.otf');
}
@font-face {
    font-family: Hlvb;
    src: url('HelveticaNeue-Bold.otf');
}

.nav-element{
	height:117px !important;	
}
.nav-element .txt{
	color:#fff;
	font:40px/117px Arial;
	text-shadow:0 0 46px rgba(180,12,255,0.8),0 4px 0 rgba(0,0,0,0.36);
	padding:0 0 0 11%;
}
.nav-element .calc{
	float:right;
	font:24px/117px Arial;
	color:#fff;
	padding:0 72px 0 0;
}
.nav-element.tap{
	background:rgba(255,255,255,0.1);
}
.nav-element.in-time .txt{
	text-shadow:none;
	color:rgba(255,255,255,0.3);
}
.nav-element.in-time .calc{
	background:url(../img/clock-ico.png) no-repeat;
	width:40px;
	height:40px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	margin:53px 0 0;
	padding:0 62px 0 0;
}

/*head navigation*/
.head_navi{
	width:100%;
	height:88px;
	background:url(../img/headbg.jpg) left bottom repeat-x rgba(0,0,0,0.2);
	padding:0 0 2px;
	float:left;
	position:relative;
}
.head_navi .button{
	display:block;
	width:40px;
	height:40px;
	margin:27px 0 0;
}
.head_navi .button.menu{
	float:left;
	background:url(../img/ico_menu.png) no-repeat;
	margin:27px 0 0 40px;
}
.head_navi .button.star{
	float:right;
	background:url(../img/star.png) no-repeat;
	margin:27px 32px 0 0;
	width:44px;
	height:44px;
}
.head_navi .button.star.tap{
	background:url(../img/star-tap.png) no-repeat;
}
.head_navi .button.loop{
	float:right;
	background:url(../img/ico_search.png) no-repeat;
	margin:27px 27px 0 0;
}
.head_navi .button.loop.pink{
	background:url(../img/pink_loop.png) no-repeat;
}
.head_navi .button.main{
	font:24px/40px Hlvb;
	color:#fff;
	padding:0 0 0 22px;
	margin:27px 0 0 7px;
	background:url(../img/main-ico.png) left center no-repeat;
	float:left;
}
.head_navi .date{
	text-align:center;
	position:absolute;
	width:100%;
	height:35px;
	color:#fff;
	font:24px Hlvl;
	text-shadow:0 0 46px rgba(180,12,255,0.8),
				0 4px 0 rgba(0,0,0,0.36);
	bottom:0;
	left:0;
}
.head_navi .logo{
	display:block;
	width:210px;
	height:86px;
	position:absolute;
	left:50%;
	margin-left:-105px;
	background:url(../img/logo.png) center -10px no-repeat;
	top:0;
	overflow:hidden;
	text-indent:-9999px;
}
.head_navi .h3,
.head_navi .h1{
	color:#69d2e7;
	font:52px/88px Hlvb;
	text-shadow:0 0 40px rgba(180,12,255,1),
				0 4px 0 rgba(0,0,0,0.36);
	width:100%;
	text-align:center;
	display:block;
}
.head_navi .h3{
	font:40px/88px Hlvb;
}
.container{
	float:left;
	width:100%;
}
.container.about{
	background:url(../img/about.jpg) center top no-repeat #fff;
}
.container .h2{
	color:#373737;
	font:30px Hlvl;
	text-align:center;
	display:block;
	padding:0 0 74px 0;
	background:url(../img/clock_bg.png) center bottom no-repeat;
	margin:0 0 73px;
}
.container.about p{
	color:#373737;
	font:24px Hlvl;
	text-align:center;
	padding:0 35px;
}
.ab-navigtaion{
	max-width:500px;
	width:100%;
	margin:140px auto 44px;
}
.ab-navigtaion span.button{
	display:block;
	background:#69d2e7;
	height:60px;
	border-left:8px solid #3daabe;
	border-radius:30px;
	text-align:center;
	color:#fff;
	font:28px/60px Hlvb;
	text-shadow:2px 0 0 rgba(0,0,0,0.24);
	margin:0 0 24px;
}
.ab-navigtaion span.button.no_shadow{
	text-shadow:none;
	margin:0;
}
.sm_padding .txt{
	padding:0 0 0 40px;
	color:#fff;
	font:40px/139px Hlvl;
}
.sm_padding .nav-element{
	height:142px;
	border-bottom:1px solid #820cff;
	box-shadow:0 1px 0 rgba(255,255,255,0.24);
	position:relative;
}
.r_arrow{
	display:block;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-15px;
	width:19px;
	height:30px;
	z-index:10;
	background:url(../img/arrow-next.png) no-repeat;
}
 .location{
	padding:0 0 0 30px;
	color:rgba(255,255,255,0.5);
	position:absolute;
	font:24px Hlvl;
	position:absolute;
	bottom:15px;
	background:url(../img/locate-ico.png) left 5px no-repeat;
	left:8px;
}
.event .img_box{
	position:absolute;
	width:200px;
	height:138px;
	right:0;
	top:0;
}
.event .img_box .time.b{
	font:40px Hlvl;
	float:right;
	top:12px;
	right:5px;
}
.event .img_box .time{
	color:#fff;
	text-shadow:-2px -2px 0 rgba(0,0,0,0.2),
				2px -2px 0 rgba(0,0,0,0.2),
				-2px 2px 0 rgba(0,0,0,0.2),
				2px 2px 0 rgba(0,0,0,0.2);
	position:absolute;
	z-index:20;
	top:55px;
	right:5px;
	font:24px Hlvl;
}
.event .location{
	top:70px;
}
.event .txt{
	line-height:60px;
}
 .category{
	color:#fff;
	font:34px/44px Hlvb;
	text-shadow:1px 0 0 rgba(0,0,0,0.42);
	height:44px;
	background:rgba(160,12,255,0.5);
	width:100%;
	text-indent:10px;
}
.error_up{
	width:480px;
	height:262px;
	background:url(../img/error_wind.png) no-repeat;
}
.error_up p{
	color:#fff;
	font:30px Hlvl;
	text-align:center;
	padding:85px 0 33px;
}
.error_up .button{
	width:218px;
	height:60px;
	border-radius:30px;
	color:#b4b3b4;
	font:24px/60px Hlvb;
	text-align:center;
	height:60px;
	background:#7000ed;
	display:block;
}
.error_up .button.setting{
	border-left:8px solid rgba(0,0,0,0.24);
	float:left;
	margin:0 0 0 14px;
}
.error_up .button.reset{
	border-right:8px solid rgba(0,0,0,0.24);
	float:left;
	margin:0 0 0 3px;
}
.buttonpanel{
	width:100%;
	height:88px;
	position:fixed;
	bottom:0;
	left:0;
	background:#0a0456;
}
.buttonpanel .button{
	width:50%;
	float:left;
	text-align:center;
	font:34px/88px Hlvb;
	color:rgba(180,179,180,0.3);
}
.buttonpanel .button + .button{
	border-left:1px solid rgba(255,255,255,0.08);
	width:49%;
}
.buttonpanel .button.active{
	text-shadow:0 0 40px rgba(180,12,255,1),
				0 4px 0 rgba(0,0,0,0.36);
	color:#69d2e7;
}
.refresh{
	min-height:65px;
	height:100%;
	width:100%;
	float:left;
	color:#fff;
	font:24px/44px Hlvl;
	text-shadow:1px -2px 0 #000;
	padding:30px 0 0;
}
.refresh b{
	background:url(../img/refresh-clock.png) left center no-repeat;
	padding:0 0 0 55px;
	height:44px;
	display:block;
	width:374px;
	margin:0 auto;
}
.sm_padding.delete .nav-element{
	border:none;
	box-shadow:none;
}
.delete .delete{
	display:block;
	position:absolute;
	left:0;
	width:85px;
	background:url(../img/delete.png) center center no-repeat;
	height:140px;
}
.delete .box{
	position:absolute;
	left:85px;
	height:140px;
	width:100%;
	border-bottom: 1px solid rgba(130,12,255,0.3);
	box-shadow: 0 1px 0 rgba(255,255,255,0.24);
}
.loader{
	background:url(../img/loader_page.png) center center no-repeat;
	height:170px;
	position:absolute;
	top:50%;
	margin-top:-85px;
	left:50%;
	width:326px;
	margin-left:-163px;
}
.loader .date{
	color:#fff;
	font:40px Hlvl;
	text-align:center;
	padding:175px 0 0;
	display:block;
	text-align:center;
	width:100%;
	text-transform:uppercase;	
}
.slide{
	width:100%;
	height:225px;
}
.slide .item{
	display:block;
	width:100%;
	max-height:225px;
	height:100%;
}
.slide .item img{
	width:100%;
	height:100%;
}
.comp-location{
	float:left;
	width:100%;
	padding:20px 0 10px;
	background:#5a0cff;
	border-bottom:4px solid rgba(0,0,0,0.16);
	position:relative;
}
.comp-location .locate{
	float:left;
	display:block;
	max-width:320px;
	width:100%;
	font:24px Hlvl;
	padding:0 0 0 33px;
	background:url(../img/locate-ico.png) left 5px no-repeat;
	color:#fff;
	margin:0 0 0 8px;
}
.comp-location .locate b{
	display:block;
}
.comp-location a{
	color:#fff;
	font:24px Hlvl;
	position:absolute;
	right:9px;
	bottom:16px;
	text-decoration:underline;
}
.item-element img{
	float:right;
	max-width:200px;
	max-height:140px;
	margin:0 0 15px 15px;
}
.item-element{
	padding:15px 0;
	border-bottom:1px solid #820cff;
	box-shadow:0 1px 0 rgba(255,255,255,0.24);
	float:left;
}
.item-element .h2{
	color:#fff;
	font:40px Hlvl;
	display:block;
	padding:0 0 0 38px;
}
.item-element .time{
	font:36px Hlvl;
	color:rgba(255,255,255,0.5);
	padding:0 0 0 30px;
	margin:0 0 0 8px;
	background:url(../img/m-clock.png) left center no-repeat;
	display:block;
}
.item-element p{
	color:#fff;
	font:24px Hlvl;
	padding:0 0 0 38px;
}
.inside-h{
	background:rgba(160,12,255,0.5);
	padding:7px 0 2px 5px;
}
.inside-h .h4{
	font:34px Hlvb;
	color:#fff;
	text-shadow:0 2px rgba(0,0,0,0.42);
}
.image_mask{
	float:left;
	width:132px;
	height:132px;
	border-radius:100px;
	overflow:hidden;
	border:2px solid #5a0cff;
}
.item-element.delivery .h2{
	margin:0 0 20px;
}
.item-element.delivery p{
	color:rgba(255,255,255,0.5);
	padding:0 0 0 153px;
}
.item-element.delivery .price{
	color:#fff;
	font:30px Hlvl;
	padding:0 0 0 153px;
	margin:10px 0 0;
	position:relative;
	display:block;
}
.item-element .price{
	color:#fff;
	font:36px Hlvl;
	padding:0 0 0 38px;
}
.item-element .poster{
	width:282px;
	height:400px;
	float:right;
}
.item-element .poster img{
	max-width:282px;
	max-height:400px;
}
.sm_padding.event.search{
	background:#1e3244;
}
.sm_padding.event.search .txt{
	text-shadow:none;
}
.search-box{
	float:left;
	width:100%;
	height:102px;
	padding:14px 0 0;
	background:#1e3244;
}
.search-box input[type="text"]{
	max-width:386px;
	height:56px;
	width:100%;
	padding:0 10px 0 60px;
	background:url(../img/grs-ico.png) 16px center no-repeat #fff;
	border:2px solid #5a0cff;
	border-radius:40px;
	color:#777;
	font:28px Hlvl;
}
.search-box input[type="button"]{
	color:#b4b3b4;
	font:24px Hlvl;
	border:none;
	border-left:8px solid #192a3a;
	background:#273c4e;
	border-radius:40px;
	height:60px;
	padding:0 24px;
}
.result-havnt{
	color:#021a2a;
	font:40px Hlvb;
	text-shadow:0 2px 0 rgba(255,255,255,0.08);
	text-align:center;
	display:block;
	padding:0 0 50px;
}
.x-scroll-scroller{
	background: url(../img/bg.jpg) repeat-x;
	float: left;
	width: 100%;
}
.x-center, .x-centered {
	padding: 0px;
	margin: 0px;
}
.x-toolbar.x-docked-top {
	border-bottom: 1px solid;
	height: 88px;
	width: 100%;
	height: 88px;
	padding: 0 0 2px;
	float: left;
	position: relative;
	background: url(../img/headbg.jpg) repeat-x rgba(10, 0, 83, 1) !important;
},
.x-toolbar-light .x-title {
	color: #69d2e7 !important;
	text-shadow: 0 0 40px rgba(180,12,255,1), 0 4px 0 rgba(0,0,0,0.36) !important;
}
.x-toolbar-light {
	background-image: none !important;
	background-color: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
}
.x-title .x-innerhtml{
	width: 368px !important;
	color: #69d2e7;
	font: 52px/88px Hlvb;
	text-shadow: 0 0 40px rgba(180,12,255,1),
	 0 4px 0 rgba(0,0,0,0.36);
	width: 100%;
	text-align: center;
	display: block;
}
.x-button .x-button-icon{
	width: 40px !important;
	height: 40px !important;
	background: url(../img/ico_search.png) no-repeat !important;
}
.x-button {
	/*width: 20px !important;
	height: 20px !important;
*/
}
.x-toolbar-light .x-button, .x-toolbar-light .x-button.x-button-back:after, .x-toolbar-light .x-button.x-button-forward:after, .x-toolbar .x-toolbar-light .x-button, .x-toolbar .x-toolbar-light .x-button.x-button-back:after, .x-toolbar .x-toolbar-light .x-button.x-button-forward:after, .x-toolbar-light .x-field-select .x-component-outer, .x-toolbar-light .x-field-select .x-component-outer.x-button-back:after, .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-back:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar-light .x-field-select .x-component-outer:before, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:after {
	width: 66px!important;
	height: 70px !important;
 }
 .x-button .x-button-icon.x-shown {
	margin-left: -20px !important;
	margin-top: 8px !important;
}
.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
	padding: 0 !important;
}
.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
	padding: 0 !important;
}
.x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal {
	border-top: none !important;
}
.x-inner, .x-body {
	background: url(../img/bg.jpg) repeat-x;
}
.x-webkit .x-button-back, .x-webkit .x-toolbar .x-button-back {
	min-width: 150px !important;
	font: 34px/40px Hlvb !important;	
	color: #fff;		
}
.x-toolbar-light .x-button.x-button-back:before, .x-toolbar-light .x-button.x-button-forward:before, .x-toolbar .x-toolbar-light .x-button.x-button-back:before, .x-toolbar .x-toolbar-light .x-button.x-button-forward:before,
.x-toolbar-light .x-field-select .x-component-outer.x-button-back:before,
.x-toolbar-light .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar
.x-toolbar-light .x-field-select .x-component-outer.x-button-back:before, .x-toolbar
.x-toolbar-light .x-field-select .x-component-outer.x-button-forward:before,
.x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:before,
.x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:before, .x-toolbar
.x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar
.x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:before {
  /*background: #0b3c5e;
 	background: url(../img/main-ico.png);*/
 	background-repeat: no-repeat;
 	width: 0px !important; 
 	margin-top: 29px;
 	height: 0px !important; 
}
.x-webkit .x-button-back, .x-webkit .x-toolbar .x-button-back {
	margin-left: 0 !important; 
	padding-left: 0 !important; 
}
.nav-element1{
	height:142px;
	border-bottom:1px solid #820cff;
	box-shadow:0 1px 0 rgba(255,255,255,0.24);
	position:relative;
}
.nav-element1 .txt {
	padding: 0 0 0 40px;
	color: #fff;
	font: 40px/139px Hlvl;
}
.x-list-normal .x-list-header{
    color: #fff !important;
    font: 34px/44px Hlvb !important;
    text-shadow: 1px 0 0 rgba(0,0,0,0.42) !important;
    height: 44px !important;
    background: rgba(160,12,255,0.5) !important;
    width: 100%;
    text-indent: 10px !important;
    margin: 0!important;
    padding: 0!important;
    border: none !important;
}
#appLoadingIndicator div:first-child{
    width: 0px;
}
#appLoadingIndicator div:last-child{
    width: 0px;
}
#appLoadingIndicator div{
    width: 300px;
    height: 200px;
    margin-top: -100px;
    background: url(../img/loader_page.png) no-repeat;
}