<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>Web</title>
<link rel="stylesheet" href="css/global.css" type="text/css" />
<link rel="stylesheet" href="css/reset.css" type="text/css"  />
</head>
<body>
<div class="head_navi">
	<span class="button main"></span>
	<span class="button star"></span>
	<span class="h3">Тамерлан доставка</span>
</div>
<div class="nav_container event-list">
	<div class="slide">
		<span class="item">
			<img src="img/sl_pic.jpg" />
		</span>
	</div>
	<div class="inside-h">
		<span class="h4">Доставка бесплатно</span>
	</div>
	<div class="item-element delivery">
		<span class="h2">Железный человек 3</span>
		<span class="image_mask"><img src="img/fil-pic.jpg" /></span>
		<p>Когда мир Старка рушится 
			на его глазах по вине 
			неизвестных противников, Тони 
			жаждет найти виновных и свести 
			с ними счеты. </p>
		<span class="price">Цена: 250 Р</span>
	</div>
	<div class="item-element delivery">
		<span class="h2">Железный человек 3</span>
		<span class="image_mask"><img src="img/fil-pic.jpg" /></span>
		<p>Когда мир Старка рушится 
			на его глазах по вине 
			неизвестных противников, Тони 
			жаждет найти виновных и свести 
			с ними счеты. </p>
		<span class="price">Цена: 250 Р</span>
	</div>
</div>
</body>
</html>
