<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>Web</title>
<link rel="stylesheet" href="css/global.css" type="text/css" />
<link rel="stylesheet" href="css/reset.css" type="text/css"  />
</head>
<body>
<div class="head_navi">
	<span class="button menu"></span>
	<span class="button loop"></span>
	<span class="logo"></span>
	<span class="date">23 Июня</span>
</div>
<div class="nav_container sm_padding event">
	<div class="nav-element tap">
		<span class="txt">Кино</span>
		<span class="location">Сбор на Площади Победы</span>
		<span class="r_arrow"></span>
		<span class="img_box">
			<img src="img/img.jpg" />
			<b class="time b">8:00</b>
			<b class="time">5:00</b>
		</span>
	</div>
	<div class="nav-element">
		<span class="txt">Театры</span>
		<span class="location">Сбор на Площади Победы</span>
		<span class="r_arrow"></span>
		<span class="img_box"><img src="img/img.jpg" /></span>
	</div>
	<div class="nav-element">
		<span class="txt">Городские мероприятия</span>
		<span class="location">Сбор на Площади Победы</span>
		<span class="r_arrow"></span>
		<span class="img_box"><img src="img/img.jpg" /></span>
	</div>
</div>
</body>
</html>
